<div layout="row" layout-align="space-around center" layout-wrap>
  <home-card flex-xs="98" flex-gt-xs="50" flex-lg="30" flex-xl="30" ng-repeat="(key, value) in [1,2,3,4,5,6,8]"></home-card>
</div>
<!-- <div layout="column" layout-align="center center">
  <h2 ng-if="$ctrl.can('config')">Puedes ver esto por que tienes el permiso de configuracion</h2>
  <h2 ng-if="$ctrl.can('security')">Puedes ver esto por que tienes el permiso de seguridad</h2>
  <h1>Hola mundo home</h1>
  <br>
  <button ng-click="$ctrl.boton1()">Bonton 1</button>
  <button ng-click="$ctrl.onLogout()">Cerrar Sesión</button>
</div>
 -->