<md-card>
  <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
    <div class="md-toolbar-tools">
    <span>Listado de Personal</span>
      <div flex></div>
      <md-button class="md-icon-button" ng-click="loadStuff()">
        <md-icon>refresh</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
    <div class="md-toolbar-tools">
      <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
    </div>
  </md-toolbar>

  <md-table-container>
    <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise" class="table-head-fixed">
      <thead md-head md-order="query.order" md-on-reorder="logOrder">
        <tr md-row>
          <th md-column md-order-by="identification"><span>Cédula</span></th>
          <th md-column md-order-by="name"><span>Nombre</span></th>
          <th md-column md-order-by="calories.value"><span>Centro de Costo</span></th>
          <th md-column ng-repeat="combo in $ctrl.combos">
            <span>{{combo.name}}
              <md-tooltip md-direction="top">{{combo.period}}</md-tooltip>
            </span>
          </th>
          <!-- <th md-column md-numeric md-order-by="sodium.value" hide-gt-xs show-gt-md><span>Sodium (mg)</span></th> -->
          <!-- <th md-column md-numeric md-order-by="calcium.value" hide-gt-xs show-gt-lg><span>Calcium (%)</span></th> -->
          <!-- <th md-column md-numeric md-order-by="iron.value" hide-gt-xs show-gt-lg><span>Iron (%)</span></th> -->
          <!-- <th md-column md-order-by="comment">
            <md-icon>comments</md-icon>
            <span>Comments</span>
          </th> -->
        </tr>
        <!-- <tr>
          <td md-cell colspan="3"></td>
          <td md-cell>
            <md-select ng-model="hola" placeholder="Embutidos">
              <md-option ng-value="A">Tipo A</md-option>
              <md-option ng-value="B">Tipo B</md-option>
              <md-option ng-value="C">Tipo C</md-option>
            </md-select>
          </td>
          <td md-cell></td>
          <td md-cell></td>
        </tr> -->
      </thead>
      <tbody md-body heigth="50px">
        <tr ng-repeat="staff in $ctrl.staff">
          <td md-cell>{{staff.identification}}</td>
          <td md-cell>{{staff.name}}</td>
          <td md-cell>{{staff.unit_cost}}</td>
          <td md-cell ng-repeat="combo in staff.combo_list">
            <md-select ng-model="$ctrl.type" placeholder="Seleccione" ng-if="combo.type_combo == 1">
              <md-option ng-value="type.name" ng-repeat="type in combo.content">{{type.name}}</md-option>
            </md-select>

            <md-button ng-if="combo.type_combo == 3" ng-click="$ctrl.showDialog($event)">Pedir</md-button>
          </td>
          <!-- <td md-cell hide-gt-xs show-gt-md>{{dessert.sodium.value}}</td> -->
          <!-- <td md-cell hide-gt-xs show-gt-lg>{{dessert.calcium.value}}%</td> -->
          <!-- <td md-cell hide-gt-xs show-gt-lg>{{dessert.iron.value}}%</td> -->
          <!-- <td md-cell ng-click="editComment($event, dessert)" ng-class="{'md-placeholder': !dessert.comment}">
            {{dessert.comment || 'Add a comment'}}
          </td> -->
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <!-- <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{desserts.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination> -->
</md-card>