@import ../../node_modules/angular-material/angular-material.scss
@import ./loading-bar.sass
@import ../../node_modules/alertify.js/src/sass/alertify.scss

fieldset
  legend
    text-align: center
  &.list-product
    padding: 0
    border: 1px solid
  md-list
    padding: 0

.align-center
  text-align: center

.Header
  &-logo
    img
      vertical-align: middle
  &-avatar
    // background: beige
    margin: 0
    margin-right: .5em
    border: 2px solid white
    border-radius: 50%
    height: 40px
    width: 40px
    img
      border-radius: 50%
      width: 100%
  &-nameUser
    font-size: 16px